.Box {
  position: relative;
  width: 1135px;
  height: 680px;
  background-color: white;
  margin: auto;
}

.Box1 {
  float: left;
  width: 97.5%;
  height: 3cm;
  background-color: green;
  margin-left: 1em;
  margin-top: 3em;
  margin-bottom: 1em;
  border: 2px solid black;
}

.Box2 {
  float: left;
  width: 5cm;
  height: 5cm;
  background-color: red;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 2px solid black;
}

.Box3 {
  float: left;
  width: 23cm;
  height: 5cm;
  background-color: orange;
  margin-left: 3em;
  margin-top: 1em;
  margin-bottom: 3em;
  border: 2px solid black;
}

.Box4 {
  float: left;
  width: 5cm;
  height: 5cm;
  background-color: red;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 2px solid black;
}

.Box5 {
  float: left;
  width: 23cm;
  height: 5cm;
  background-color: orange;
  margin-left: 3em;
  margin-top: 1em;
  margin-bottom: 3em;
  border: 2px solid black;
}
