* {
  margin: 0px;
  padding: 0px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  width: 18%;
  height: 8%;
  margin: 10px;
}

img {
  width: 100%;
}

.boxA {
  width: 31%;
}

.boxi {
  margin-left: 20px;
}
